.numpad_text {
	text-align: right;
	color:#1F1F1F;
}
.num_submit {
	height: 104px;
	font-size: 15px;
	padding-top:0;
}
.price_block {
	width: 355px;
	background: rgba(0,0,0,0.7);
	color: #ffffff;
	padding: 17px;
	float: left;
	position: absolute;
	left: 130px;
	top: 0;
	display: none;
	z-index: 999;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 6px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
	box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.numpad_text {
	height: 34px;
}

.price_block:after, .price_block:before, .price_block.numpad_active:after, .price_block.numpad_active:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;

}
.price_block.numpad_active:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: rgba(0,0,0,0.7);
	border-width: 16px;
	margin-top: -148px;
}

.price_block:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color:rgba(0,0,0,0.7);
	border-width: 16px;
	margin-top: -40px;
}

#numpad-main, #numpad-sub {
	padding: 0;
}
#numpad-main .number_button {
	width: 31%;
	float: left;
}


.qty_block {
	width: 355px;
	background: rgba(0,0,0,0.7);
	color: #ffffff;
	padding: 17px;
	float: left;
	position: absolute;
	left: 130px;
	top: 0;
	display: none;
	z-index: 999;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 6px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
	box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.qty_block:after, .qty_block:before, .qty_block.numpad_active:after, .qty_block.numpad_active:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;

}
.qty_block.numpad_active:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: rgba(0,0,0,0.7);
	border-width: 16px;
	margin-top: -148px;
}

.qty_block:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color:rgba(0,0,0,0.7);
	border-width: 16px;
	margin-top: -40px;
}


.discount_block {
	width: 355px;
	background: rgba(0,0,0,0.7);
	color: #ffffff;
	padding: 17px;
	float: left;
	position: absolute;
	left: 130px;
	top: 0;
	display: none;
	z-index: 999;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 6px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
	box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.discount_block:after, .discount_block:before, .discount_block.numpad_active:after, .discount_block.numpad_active:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;

}
.discount_block.numpad_active:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: rgba(0,0,0,0.7);
	border-width: 16px;
	margin-top: -148px;
}

.discount_block:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color:rgba(0,0,0,0.7);
	border-width: 16px;
	margin-top: 57px;
	margin-right: -100px;
	-ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
}