body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #eee;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(100,100,100,0.4); 
}
.discount_tag {
	position: absolute;
	z-index: 200;
	top: 40%;
	left: 23%;
	font-size: 32px;
	font-weight: bold;
	border: 7px solid black;
	border-radius: 6px;
	padding: 5px 30px;
	opacity: 0.3;
	-ms-transform: rotate(-25deg); /* IE 9 */
    -webkit-transform: rotate(-25deg); /* Chrome, Safari, Opera */
    transform: rotate(-25deg);
}

.composite-attr {
	margin: 3px;
}
.composite-attr input {
	width: 80px;
	display: inline-block
}
.qKey {
	text-align: center;
	padding: 15px 0;
}
.button-remove {
	position: absolute;
	left: 0;
	top: 0;
}

#retrieveTable .clickable:hover {
	background: #eee;
}

#block-right {
	padding: 15px 0;
}
#block-right .scroller {
	border: 0;
}

.radio, .checkbox {
	min-height:0;
	display:inline-block;
}
input[type=radio], input[type=checkbox] {
	margin-top:0;	
}
dd.explain{
	height:	63px;
}


.modal-dialog .btn-success, .modal-dialog input{
	border: 1px solid rgb(0, 0, 0);
}

/* BUTTON VIEW / IMAGE VIEW */

.no-border {
	border: 0 !important;
	box-shadow: none !important;
}
.full-width {
	width: 100% !important;
}
.no-margin {
	margin: 0 !important;
}
.no-padding {
	padding: 0 !important;
}
.button-view {
	border: 1px solid #b8b8b8;
}
.button-view:hover {
	background:#EDEDED;
}
.word-break {
	word-wrap: break-word;
	text-align: center;
}
.auto-height {
	height: auto !important;
}
.vertical-padding-8 {
	padding: 8px 0 !important;
}

.img-user { width:21px; height:19px;}

.text-limit {
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;	
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	vertical-align:middle;	
}

.sorting_asc span.up {
    background: url(/img/arrow-up-down.png) no-repeat left -18px;
    display: inline-block;
    width: 9px;
    height: 11px;
    margin-left: 5px;
}
.sorting_asc span.down {
    background: url(/img/arrow-up-down.png) no-repeat left -2px;
    display: inline-block;
    width: 9px;
    height: 11px;
    margin-left: 5px;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle .username
{
	  text-indent: -5px;	
}
/* BUTTON VIEW / IMAGE VIEW END */

.container
{
	max-width:100%;	

}
@media (min-width: 992px){
.container
{
	width: 1100px;
}
}

@media (min-width: 1200px){
	.container {
		width: 1280px;
	}
}



.col-alpha
{
	padding-left:0
}

.col-omega
{
	padding-right:0
}


ul, ol, li
{
	list-style:none;
	padding:0;
	margin:0;
}
a { cursor:pointer;}

.hor-menu ul li a {
	color: black;	font-weight: bold !important;
}
.pop-hide {
	display: none;
	background: white;
	padding: 10px;
}

.scroller{
	border: 1px solid #B8B8B8;
	border-bottom: 0;
}

.margin-top-20 { margin-top:20px;}
.margin-top-30 { margin-top:30px;}
.margin-right-5 { margin-right:5px;}
.margin-right-10 { margin-right:10px;}
.margin-bottom-20 { margin-bottom:20px;}
.margin-bottom-min-50 { margin-bottom:-50px;}
.margin-left-10 {margin-left:10px;}
.padding-right-5 { padding-right:5px;}

.inline-block { display:inline-block; width:100%;}
.inline-block-z { display:inline-block;}

.glyphicon { font-size:12px;}
.btn-left
{
	border-radius:3px 0 0 3px;
	float: left;
	margin-right: -1px !important;
	}
.btn-right{
	border-radius:0 3px 3px 0;
}
.btn-center{
	border-radius:0;
	float: left;
	margin-right: -1px !important;
}
.text-align-center {text-align:center}

dt, dd{float:left; height: 40px;}
dt{
	width:40%;
}
dd{
	width:60%;
}

input, select, textarea{
	border-radius: 3px;
	line-height: 25px;
	border: 1px solid #B2B2B2;
	padding-left: 8px;
	padding-right: 8px;
	width:100%;
	color: #373737;
}
select{
	height: 30px;
}

#footer {
	padding-top:50px;
}

.btn-sm{
	padding: 2px 5px;
	font-size: 12px;
}
.btn-wide{
	width:100px;
}
input[type=checkbox], input[type=radio] {
	width:inherit;
	vertical-align: middle;
}
div.radio, div.checker {
	display:inline-block;	
}
.text-bg-blue{
	background: #3F80D8;
	color: #ffffff;
	padding: 1px 12px;
	border-radius: 50px;
	margin: 0 10px;
}

.width-inherit {
	width:inherit !important;
}
.width-initial {
	width:initial !important;
}

.height-inherit {
	height:inherit !important;
}



/** START FROM HERE **/
.clickable:hover {
	cursor: pointer;
}
.clickable > .product-container:hover{
	background:#EDEDED;
}
.clickable > .product-container:active{
	box-shadow: inset 0 3px 3px rgba(0,0,0,0.2); 
}
.maximum {
	float: left;
	padding: 0 !important;
	margin: 0 !important;
}
/** BLOCK SETTING **/
#content , .page-container {
	width: 1280px; position: relative;
margin: 0 auto;
}

@media(max-width:1280px) {
	#content , .page-container {
	width: 100%; position: relative;
	margin: 0 auto;
	padding: 0 10px;
	}
}
#sell-index {
	padding: 0;
	float: left;
}
#block-left, #block-right {
	margin-top: 10px;
}
#block-left {padding-right:20px}
#block-right {
	background:#ffffff;
	height: 100%;
	margin-bottom: 30px;
	border:1px solid #b8b8b8;
	border-radius:3px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	padding:20px;
}
/** ADDED TABLE **/
.posTableWrap {
	padding: 0;
	width: 100%;
	float: left;
}
.sell-index .box {
	float: left;
	background-color: white;
}
.added-header {
	background: #616161;
	background-image: -moz-linear-gradient( 90deg, rgb(67,67,67) 0%, rgb(100,100,100) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(67,67,67) 0%, rgb(100,100,100) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(67,67,67) 0%, rgb(100,100,100) 100%);
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
	border: 1px solid #000000;
	border-radius: 3px 3px 0 0;
	display: inline-block;
	width: 100%;
	color:#ffffff;
	text-shadow: 1px 1px rgba(0,0,0,1);
	height:43px;
	
}
.added-body
{
	width: 100%;
}

.added-header .added-product {
	/* background: #ffc76c !important;*/
}
.added-remove {
	color: #ffc76c;
}
.remove{
	background: #dddddd;
	border-radius: 50px;
	width: 23px;
	height: 23px;
	line-height: 21px;
	text-align: center;
	color: #ffffff;
}
.remove:hover{
	background:#FF777A;
}
.remove .glyphicon-remove{
	font-size:12px;
	}

.added {
	background: white;
	width:100%;
}
.added th {
	padding: 10px;
}
.added td {
	padding: 15px 10px;
}
.added td {
	border-bottom: 1px solid #e3e3e3;
}
.added td.added-product{
	font-size: 14px;
	font-weight: bold;
}
.added-price{
	font-weight: normal;
	font-size: 12px;
	color: #747474;
}

.added-body tr:hover {
	background: #FFF6D9;
}

.qtyfix {
	width: 44px;
	text-align: center;
	border: 1px solid #8d8d8d;
	border-radius: 3px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

.qtyfix:hover{
	background:#DDDDDD;	
}

.qtyfix:active{
	box-shadow:inset 0 2px 2px rgba(0,0,0,0.2);	
}

.product-list-footer {
	border-top:1px solid #eee;
	height: 40px;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	text-align: center;
	font-weight: bold;
	padding-top: 10px;
}
.product-list-footer .page, .prev, .next {
	height: 100%;
	padding: 10px;
	margin-top: -10px;
}
.selected {
	color: red;
}
.added-qty-head {
	text-align: center;
}
.added-qty {
	text-align: right;
}
.qty-control, .price-control {
	text-align: center;
	padding: 2px 7px;
}
.added-null {
	text-align: center;
	background: transparent;
	position: absolute;
	top: 30%;
	left: 35%;
}
.added-null h3{
	color:#B0B0B0;
}
.setHeight .cont-col2 {
	background: white;
}


.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle > i {
	color: #8E6A13;
}


.discount {
	font-size: 12px;
	line-height: 20px;
	padding: 6px 2px;
}


label{
	margin-left: 10px;
}
.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
	width:inherit;
	margin-left: 0;
	  position: inherit;
}
.customer_add input[type=text]{
	margin-bottom:5px;
}

.multi_btn>div {
	padding-right: 5px;
	padding-left: 5px;	
}
.multi_btn .btn {
height: 54px;
  white-space: inherit;
}
.multi_btn-list ul li {
	border: 1px solid #1E1E1E;
	margin-top: -1px;
	background: #3D3D3D;
	padding: 10px;
	cursor:pointer;
 }
.multi_btn-list ul li:first-child {
	border-radius: 5px 5px 0 0 ;
}

.multi_btn-list ul li:last-child {
	border-radius: 0 0 5px 5px;
}

.multi_btn-list ul li:nth-child(even) {
	background: #4D4D4D;
}
.multi_btn-list ul li:hover {
	background: rgb(255, 191, 38);
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:first-child>.btn-group:not(:first-child)>.btn
{
	border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;	
}




/* AFTER TABLE */
.commands {
	background-color:#fbfbfb;
	border: 1px solid #b8b8b8;
	box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.2);
	border-radius: 0 0 3px 3px;
	padding: 6px 20px;
	display: inline-block;
}


.show-amount hr {
	margin: 0;
	border-color: black;
}
.show-amount {
	background-color: #ffffff;
	border-left: 1px solid #bebebe;
	border-right: 1px solid #bebebe;
	padding: 20px;
	box-shadow: 3px 0 3px rgba(0,0,0,0.1);
}
.purchase {
	padding: 0 10px !important;
}
.receipt {
	background: url("/img/receipt.png") repeat-x;
	display: inline-block;
	width: 100%;
	height: 4px;
	margin-bottom: -6px;
	z-index: 300;
	position: relative;
}
.receipt-bt {
	background: url("/img/receipt-bt.png") repeat-x;
	display: inline-block;
	width: 100%;
	height: 14px;
	z-index: 300;
	position: relative;
}
#pay {
	width: 100%;
	background: #ffc76c;
	padding: 7px 0;
	font-size: 18px;
	font-weight: bold;
	margin-top:10px;
	border: 1px solid rgb(196, 145, 21);
	border-radius: 3px;
	background-image: -moz-linear-gradient( 90deg, rgb(255,190,34) 0%, rgb(255,208,95) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(255,190,34) 0%, rgb(255,208,95) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(255,190,34) 0%, rgb(255,208,95) 100%);
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.46);
	color: #ffffff;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.6);
}
#pay:hover{
	background: rgb(229, 172, 34);
}

#pay:active{
	background: rgb(229, 172, 34);
	box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.1);
}


.customer-search {
	margin-top: 15px;
}
.search {
  padding: 7px 12px 7px 25px;
  background: white url("/img/search.png") 9px 10px no-repeat;
  border: 1px solid;
  border-color: #a8acbc #babdcc #c0c3d2;
  border-radius: 3px ;
  -webkit-appearance: textfield;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px #fcfcfc;
  box-shadow: inset 0 1px #e5e7ed, 0 1px #fcfcfc;
	width:100%;
	line-height:normal;
}
.search:focus {
  outline: 0;
  border-color: #66b1ee;
  -webkit-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
  box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}
.buttons {
	bottom: -23px;
}
@media (max-width : 1200px){
.park, .void {
	margin-bottom:5px;	
}
}

.buttons .btn {
	width:100%;
}
.buttons>div {
	padding: 0 5px;
	}
.receipt-container {
	background: #E8E8E8;
	padding: 34px 10px;
	border: 1px solid #D0D0D0;
}
.receipt-text { padding:12px 0;}
.receipt-text li.h4 {margin:0}
.solid-line {border-top:1px solid #414141; display:inline-block; width:100%}
.solid-line-gr {border-top:1px solid #E1E1E1; display:inline-block; width:100%}
.dashed-line {border-top:1px dashed #414141;  display:inline-block; width:100%}
.dashed-line-gr {border-top:1px dashed #E1E1E1;  display:inline-block; width:100%}


/* RIGHT BOX */
.mini, .maxi {
}

.mini i, .maxi i {
	color: #373737;
}
#block-right button {
}

.product-list {
	margin-top: 20px;
}
.product {
	background:#ffffff;
	margin-right: -1px;
margin-bottom: -1px;
}
.product-container{
	border: 1px solid #b8b8b8;
	margin: 0 5px 10px 0;
	display: inline-block;
	border-radius: 3px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.1);
	padding: 5px;
}
.product img{
	width: auto;
	height: 100%;
	max-height: 120px;
	max-width: 120px;
}

.product-img {
	text-align: center;
	float: left;
	width: 100%;
	height: 140px;
	padding: 10px;
}
.product-info {
	float: left;
	width: 100%;
	border-top: 1px dashed #909090;
	padding:6px;
}
.product-unit-table {
	float: left;
	width: 100%;
	border-top: 1px dashed #909090;
	padding:6px;
}
.product-name {
	width: 100%;
	
}
.product-name p {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width:150px;
	margin: 0;
}
.button-view .product-name p, .qKey p{
	  text-overflow: ellipsis;
	  overflow: hidden;
	  width: 130px;
	  margin: 0;
	  -webkit-line-clamp: 2;
	  -webkit-box-orient: vertical;
	  display: -webkit-box;
	  white-space: inherit;
	  height: 34px;
	  text-align:center;
  }
  
.added-null img {
	width:120px;	
}
 
  
  
@media (max-width : 1280px){
.product-name p {
	width:120px;
}
.button-view .product-name p, .qKey p{
	width:100px;
}

}
@media (max-width : 1097px){
.product-name p {
	width:100px;
}
.button-view .product-name p, .qKey p{
	width:97px;
}

}
@media (max-width : 990px){
.product-name p, .qKey p {
	width:150px;
}
}

.product-price {
}
.product-stock {
	text-align:right;
}
.page-header-inner{ margin: 0 auto;}


.expandable-child { display:none}

/** NUMPAD SETTINGS **/
.number_button
{
height:50px;
margin:2px;
padding-top: 13px;
float:left;
background: #FFDD2F;
border-radius: 20px;
font-size: 30px;
font-weight: bold;
text-align:center;
background: #ffc76c;
font-size: 18px;
font-weight: bold;
border: 1px solid #000000;
border-radius: 3px;
background-image: -moz-linear-gradient( 90deg, rgb(255,190,34) 0%, rgb(255,208,95) 100%);
background-image: -webkit-linear-gradient( 90deg, rgb(255,190,34) 0%, rgb(255,208,95) 100%);
background-image: -ms-linear-gradient( 90deg, rgb(255,190,34) 0%, rgb(255,208,95) 100%);
box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.46);
color: #373737;
text-shadow: 1px 1px 0 rgba(255,255,255,0.6);
cursor:pointer;


}
.number_button:hover
{
background:rgba(223,173,53,1.00);
}
.number_button:active
{
	box-shadow:inset 0 3px 3px rgba(0,0,0,0.3)
}
.number_button-gr
{
width:100%;
height:50px;
margin:2px;
padding-top: 13px;
float:left;
background: #606060;
border-radius: 20px;
font-size: 30px;
font-weight: bold;
text-align:center;
background: #ffc76c;
font-size: 18px;
font-weight: bold;
border: 1px solid #000000;
border-radius: 3px;
background-image: -moz-linear-gradient( 90deg, #545454 0%, #606060 100%);
background-image: -webkit-linear-gradient( 90deg, #545454 0%, #606060 100%);
background-image: -ms-linear-gradient( 90deg, #545454 0%, #606060 100%);
box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.46);
color: #ffffff;
text-shadow: 1px 1px 0 rgba(0,0,0,0.6);
cursor:pointer;

}
.number_button-gr:hover
{
background:rgba(67,67,67,1.00);
}
.number_button-gr:active
{
	box-shadow:inset 0 3px 3px rgba(0,0,0,0.3)
}
.text_box
{
width:250px; 
height:30px;
font-size:20px;
text-align:right;
}


/** Text-box **/


.line-box{
	border:1px solid #D5D5D5;
	box-shadow:0 3px 3px rgba(0,0,0,0.1);
	border: 1px solid #D5D5D5;
	box-shadow: 0 3px 3px rgba(0,0,0,0.1);
	background: #ffffff;
	border-radius: 5px;
	padding: 20px;
	display:inline-block;
	z-index: 1;
}
.line-box-content{
	border-radius: 0 0 5px 5px;
}
.line-box-content dt, .line-box-content dd {
	
}
.line-box-stitle{
	background: #F5F5F5;
	padding: 6px;
	margin-bottom: 16px;
	border-radius: 5px;
}
.same_as_physical {
	font-size: 12px;
	padding: 5px 10px;
	margin: -6px -6px 0 0;
}
.filter-box{
	margin-bottom:30px;	
}

.history-detail{
	padding:20px;
}

.row-display li{
	border-top:1px dashed #E1E1E1;
	line-height: 33px;
}

.ShowMore {
	border-radius:0 0 5px 5px;
	font-size:12px;
	margin-top:-4px;
}

.filter-ShowMore {
	margin-top: -27px;
}



/** modal-content **/
.modal-content{
	background-color: rgba(0,0,0,0.7);
	color:#ffffff;
}
.modal .modal-header{
	border-bottom: 1px solid #050505;
	box-shadow: 0 1px 0 rgba(255,255,255,0.1);
}
.modal .modal-footer{
	border-top: 1px solid #050505;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}

.payment-btn button { height:120px; padding: 17px;}
.payment-btn p {font-weight:bold; margin-top:10px;}

.modal-dialog {
	width: 500px;
  	margin: 0 auto;
	margin-top: 10%;
}

.confirm-close {
	background: transparent;
	border: 0;
	float: right;
}
.modal-body, .modal-footer {
	display:inline-block;
	width:100%;
}

/** sign up, in **/
.signup-img {
	margin-top:100px;
}
.signup-container{
	margin-top:50px;	
}
.signup-container dl, .signup-container button, .signin-container dl, .signin-container button{
	margin:20px 0;
}

.signup-container .btn, .signin-container .btn{
	width: 100%;
	font-weight: bold;
	font-size: 17px;
}
.signin-container{
	width: 500px;
	margin: 100px auto;
}

.incorrect {
	height:inherit;	
}

.incorrect input{
	border: 1px solid #ED7F7F;
}
.incorrect h5{
	color:#DF2529;
	font-weight:500;
}

.signup-container dt, .signup-container dd {
	height:inherit;	
	margin-bottom:10px;
}

.customer_add div.modal-dialog {
	margin: 188px auto;
}
.font-big { font-weight:bold; font-size:18px}

/** product View receipt **/

.receipt-parent {
	text-align:center;
	margin-top:50px;
	display:inline-block;
}
.receipt-parent .show-amount{
	padding:20px;
}
.receipt-pos {
	width: 500px;
	display: inline-block;
	background: rgba(0,0,0,0.2);
	border-radius: 50px;
	height: 43px;
	line-height: 51px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.5), inset 0 1px 0 rgba(0,0,0,0.1);
}
.receipt-pos-inner {
	width: 442px;
	display: inline-block;
	background: rgba(0,0,0,0.3);
	border-radius: 50px;
	height: 15px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.5), inset 0 3px 0 rgba(0,0,0,0.1);
}
.receipt-content {
 	width:400px;
	display: inline-block;
	margin-top: -27px;
	margin-right: -20px;
}
.receipt-content .show-amount{
	box-shadow:3px 0 3px rgba(0,0,0,0.1), inset 0 3px 3px rgba(0,0,0,0.1);
	text-align: left;
	line-height: 24px;
	font-size: 14px;
  }
.close-popup {
  position: relative;
  top: -24px;
  left: 501px;
  background: #3A3A3A;
  display: inline-block;
  border-radius: 50px;
  width: 22px;
  height: 22px;
  color: #ffffff;
  line-height: 22px;
}

.receipt-product-table td, .receipt-product-table-total td{
}
.receipt-product-table-total tr:last-child{
	border-top:1px solid #373737;	
	
}
.product-detail-img img{
  max-width: 220px;
  max-height: 220px;
  border: 1px solid #dddddd;
}
/** product-add **/

.product-add dl.form-group dd{ 
	height:100%;
}

.form-title {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(213, 213, 213);
	background: -moz-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%);
	background: -webkit-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%);
	background: -ms-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%);
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.79);
	border-radius: 5px 5px 0 0;
	margin-bottom: -1px;
	padding: 10px 25px;
	font-size: 14px;
}
.line-box-stitle dl {
	margin-bottom:0;	
}

.product_tags-list dl{
	margin-bottom:0;	
}

#sales_tax_calc {
	border:0;
	background:#ffffff;
	  width: 20%;
}
#sales_tax {
	width: 80%;
	float: left;
}

/** Close **/


#close-register-wrapper {
    float: left;
    width: 700px;
    border-radius: 8px;
    margin-left: 21%;
    margin-right: 21%;
}
#close-register-details, #close-register-sales, #close-register-payments {
    margin: 10px 0;
}
#close-register-details span {
    font-weight: bold;
}
.sales-table th, .sales-table td {
    border-bottom: 1px dashed black;
    padding: 5px;
}

/** Users **/

.user-info-box .line-box {
	height:230px
}

.user-info-box .line-box-content{
	height:189px
}
.user-info-box-bg .line-box-content{
	height:250px;
}
#Users-container .line-box-content li{
	list-style:disc;
	list-style-position:inside;
	height:40px;
}
.profile-img{
	width: 100%;
	background-color: #EFEFEF;
	height: 180px;
	display: inline-block;
	border-radius: 5px;
	border: 1px solid #dddddd;
	background: url("/img/no-order.png") no-repeat 50%;
	background-size: 100px;
}
.customer-search-result{
	height:108px;
}
.customer-search-result dd, .customer-search-result dt{
	height:inherit;
}
.customer-search-result dl{
	padding: 10px;
	background: #EDEDED;
	display: inline-block;
	border-radius: 5px;
	margin-top: 10px;
}

/** Dashboard **/
.dashboard-list li {
	padding:7px 0;
}


.data-found{
	width: 100%;
	height: 47px;
	background: rgba(0,0,0,0.8);
	display: inline-block;
	border: 0;
	color: #ffffff;
	text-align: left;
	border-bottom: 1px solid #000000;
}
.data-found:hover{
	background: rgba(0,0,0,1);
}
/** Add layout **/
.page-add{
	float: left;
	margin-right: 10px;
	line-height: 29px;
}

.button-remove i {
	color: #FFFFFF;
	font-size: 11px;
	width: 16px;
	height: 16px;
	background: #CBCBCB;
	border-radius: 50%;
	line-height: 16px;
	margin: 3px;		
}

.button-remove i:hover {
	background: #EB5A5C;
}

.search-tri{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 12px 10px 12px;
	border-color: transparent transparent #616161 transparent;
	display: inline-block;
	margin-left: 13px;
	float: left;
  }
.search-default{
	background: #616161;
	height: 50px;
	width: 100%;
	display: inline-block;
	text-align: center;
	line-height: 50px;
	color:#FFFFFF
}
#historyTable img {
  max-width: 40px;
  max-height: 40px;
  border: 1px solid #dddddd;
  border-radius: 5px;
 }


/** Account **/

.plan-item {
	border: 1px solid #e0e0e0;
	border-radius: 8px;
	background: #ffffff;
	padding: 0;
	width:100%;
}
.plan-header {
	background: #CFCFCF;
	padding: 8px 0;
	border-radius: 5px 5px 0 0;
	text-align: center;
	border: 1px solid #B8B8B8;
}
.plan-price {
	background: #EFEFEF;
	border-bottom: 1px solid #D5D5D5;
	padding: 7px 15px;
	min-height: 75px;
	margin: 0 -22px;
	font-size: 22px;
	text-align: center;
	margin-bottom: -7px;
}
.selected_plan {
	box-shadow: 0 0 9px rgba(0,0,0,0.5);
}
.selected_plan>.plan-header {
	background: #616161;
	background-image: -moz-linear-gradient( 90deg, rgb(67,67,67) 0%, rgb(100,100,100) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(67,67,67) 0%, rgb(100,100,100) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(67,67,67) 0%, rgb(100,100,100) 100%);
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
	border: 1px solid #000000;
	color: #ffffff;
}
.selected_plan>div>.plan-price {
	box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
	background: #FFCE61;
	/* border-bottom: 1px solid #FFFFFF; */
	text-shadow: 1px 1px 0 rgba(255,255,255,0.6);
}
.plan-desc {
	padding:20px;
	min-height: 200px;
}
.plan-price h6{
	background: #ffffff;
	display: inline-block;
	border-radius: 50px;
	padding: 5px 11px;
	margin: 0;
	box-shadow: 1px 1px 0 rgba(0,0,0,0.3);
}
.plan-price p{
	margin:0;
}
.triangle-right, .triangle-left {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 8px 8px 0;
	border-color: transparent #A1A1A1 transparent transparent;
	margin: 0 0 0 -23px;
	display: inline-block;
}
.triangle-right  {
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
	transform: rotate(-90deg);
	margin: 6px -23px 0 0;
	float: right;
}
.selected_plan>div>.triangle-right, .selected_plan>div>.triangle-left {
	border-color: transparent #A38324 transparent transparent;
}

/** Pricebook **/

.price_book_individual-search input, .price_book_individual-search .search_result
{
	width:50%;
}

#productBrandDesc, #productBrandName {
	color:#000000;
}
#productBrandName {
	margin-bottom:10px;
}
.icon-calendar{
	margin: 0 -29px 0 9px;
	color: #9E9E9E;
	font-size: 16px;
}
.hasDatepicker {
	padding-left: 31px;
}

/** Calendar **/
.ui-datepicker-header {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px 5px 0 0;
  background: -moz-linear-gradient( 90deg, rgb(67,67,67) 0%, rgb(100,100,100) 100%);
  background: -webkit-linear-gradient( 90deg, rgb(67,67,67) 0%, rgb(100,100,100) 100%);
  background: -ms-linear-gradient( 90deg, rgb(67,67,67) 0%, rgb(100,100,100) 100%);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
  height:35px;
  color:#ffffff;
  width: 280px;
  text-align:center;
}
.ui-datepicker-prev, .ui-datepicker-title, .ui-datepicker-next {
	float:left;
	color:#ffffff;
	line-height: 30px;
	text-shadow:1px 1px #000000;
	
}
.ui-datepicker-prev, .ui-datepicker-next{
	cursor:pointer;
}
.ui-datepicker-prev:hover, .ui-datepicker-next:hover {
	color:#C5C5C5;
}
.ui-datepicker-prev:active, .ui-datepicker-next:active {
	text-shadow:-1px -1px rgba(255,255,255,0.2);
	color:#3D3D3D;
}

.ui-datepicker-prev {
	width:20%;
}
.ui-datepicker-title {
	width:60%;
}
.ui-datepicker-next {
	width:20%;
	float:right;
}

.ui-datepicker-calendar {
	width: 280px;
	padding: 20px;
	display: inline-block;
	background: rgba(0,0,0,0.7);
	border-radius: 0 0 5px 5px;
}


.ui-datepicker-calendar th, .ui-datepicker-calendar td {
	width: 14.28%;
	display: inline-block;
	text-align: center;
	padding: 1px;
}

.ui-datepicker-calendar td a {
	width:100%;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 2px;
  background: -moz-linear-gradient( 90deg, rgb(255,191,37) 0%, rgb(255,207,91) 100%);
  background: -webkit-linear-gradient( 90deg, rgb(255,191,37) 0%, rgb(255,207,91) 100%);
  background: -ms-linear-gradient( 90deg, rgb(255,191,37) 0%, rgb(255,207,91) 100%);
  box-shadow: inset 0.707px 0.707px 0px 0px rgba(255, 255, 255, 0.35);
  display: inline-block;
  color:#373737;
  padding: 5px 0;	
  font-weight: bold;
}
.ui-datepicker-calendar tr, .ui-datepicker-calendar thead {
	width:100%;
	display:inline-block;	
}

.ui-datepicker-calendar thead {
	color:#ffffff;
	margin-bottom: 10px;
}

.ui-datepicker-calendar td a:hover {
	background: -moz-linear-gradient( 90deg, rgb(217,160,21) 0%, rgb(191,139,14) 100%);
	background: -webkit-linear-gradient( 90deg, rgb(217,160,21) 0%, rgb(191,139,14) 100%);
	background: -ms-linear-gradient( 90deg, rgb(217,160,21) 0%, rgb(191,139,14) 100%);
	box-shadow: inset 2.121px 2.121px 3px 0px rgba(0, 0, 0, 0.51);
	text-decoration:none;
}

/** inventory count **/

.inventory-tab {
	border-top: 1px solid #BCBCBC;
	 border-bottom: 1px solid #BCBCBC;
	 display: inline-block;
	 width: 100%;
	 margin: 20px 0;
}
.inventory-tab li {
	padding:15px 40px;
	float:left;
	font-size:16px;
	cursor:pointer;
}
.inventory-tab li:hover {
  border-bottom: 3px solid #FFC12C;
  margin-bottom: -1px;
}
.inventory-tab li:active, .inventory-tab li.active {
  border-bottom: 3px solid #FFC12C;
  margin-bottom: -1px;
  background:#ECECEC;
}
.inventory-Due table.dataTable tbody tr:hover {
	background:#FFF8E4;
	cursor:pointer;
}

.new-inventory dt, .new-inventory dd {
	height:55px;
	line-height:55px;
}
.new-inventory label {
	line-height: 46px;
}
.new-inventory input[type=text], .new-inventory select {
	height:45px;
}
.new-inventory .line-box-stitle {
	padding:15px;
}
.new-inventory table.dataTable input {
	height:inherit;	
}
.last-counted {
	border-left: 1px solid #E7E7E7;
	  border-right: 1px solid #e7e7e7;
	  padding: 10px;
	    height: 100%;
  position: fixed;
  right: 0;
    width: 22%;
	  margin-top: -36px;
}
.count-input input[type=text], .count-input .btn{
	height: 45px;
}
.count-input label {
	line-height:42px;
}
.count-input input[type=checkbox] {
	height:37px;
}

.last-counted-list ul{
	background:#ffffff;
	padding:10px;
	display: inline-block;
	width: 100%;
}

.order-product-header {
	background: #eee;
	margin-bottom: 20px;
	padding: 10px 15px;
	border-radius:5px;
}
.order-product-header input {
	height:34px;
}
.order-product-header span.search-tri {
	float:left;	
	  margin-left: 13px;
}


input[type=file] {
	border: 0;
	  display: inline-block;
  vertical-align: middle;
}

.line-box-content dd>p {
	  line-height: 18px;
}

.order-product-header .search_result {
	position: absolute;
	z-index: 9999;
	top:48px;
}

.dataTable .glyphicon {
 top:2px;
}

table.dataTable thead th, table.dataTable thead td, table.dataTable tbody th, table.dataTable tbody td {
	font-size:13px;
}

.scroll-table, .scroll-table-wide {
	width:100%;
	overflow-x:scroll;
	
}

.scroll-table table {
	width:1500px !important ;
}
.scroll-table th:first-child, .scroll-table-wide th:first-child {
	  border-radius: 0 !important;	
}
.scroll-table-wide table{
	width:3000px !important ;
}

.table-result td {
	border: none !important;
	background:#FFEEC7;
}


table.table-price tbody th, table.table-price tbody td {
	padding: 7px 10px !important; 
}
table.dataTable tbody tr.table-color{
	background:#FFEEC7;
}

.table-color-gr {
	background:#F5F5F5 !important; 	
}

.td-color-green {
	background:#EAF4CD;
}
.td-color-pink {
	background:#FFDFDF;
}
/** Loyalty **/


.loyalty-box {
	margin: 0 auto;
	width: 38%;
	padding: 15px;
	border: 1px solid #dddddd;
	border-radius: 5px;
	height: 152px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.1);
}
.loyalty-box h3 {
	font-weight:bold;
	text-align:center;	
}
.loyalty-box li {
	text-align:center;	
	line-height: 40px;
	font-size: 15px;	
}
.loyalty-box ul {
	margin-top:10px;	
}
.loyalty-box li input {
	width:inherit;
	margin-right:10px;	
	text-align:right;
	padding-right:5px;
}
.loyalty-box li span {
	transform: rotate(90deg);
	font-size: 15px;
}

.dl-oneline dt {
	width:20%;	
}
.dl-oneline dd {
	width:80%;
}

.preview-email-content {
	background:#ffffff;
	border-radius:5px;
	border: 1px solid #2B2B2B; 
	box-shadow: 0 3px 3px rgba(0,0,0,0.7);
	color:#272727;
	padding:20px 30px;
}

.preview-email-footer {
	margin-top:10px;
	background: #EAEAEA;
	padding: 10px;
}

#Enable_loyalty_body .line-box-stitle {
	padding:12px;	
}

/** dataTable-sm **/

table.dataTable-sm {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-spacing: 0;
}

table.dataTable-sm thead th,
table.dataTable-sm tfoot th {
  font-weight: bold;
}
table.dataTable-sm thead th,
table.dataTable-sm thead td {
	background: #E0E0E0;
  background: -ms-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.79);
  color: #424242;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-right: 1px solid #D0D0D0;
  border-bottom: 1px solid #D3D3D3;
  border-top: 1px solid rgba(0, 0, 0, 0) !important;
  text-shadow: 1px 1px 0 #ffffff;
}

table.dataTable-sm tbody tr:last-child td:first-child{
	border-radius:0 0 0 5px;	
}
table.dataTable-sm tbody tr:last-child td:last-child{
	border-radius:0 0 5px 0;	
}
table.dataTable-sm thead th:active,
table.dataTable-sm thead td:active {
  outline: none;
}

table.dataTable-sm thead th.last-child,
table.dataTable-sm thead td.last-child,
table.dataTable-sm thead th:last-child,
table.dataTable-sm thead td:last-child {
	border-radius:0 5px 0 0 !important;
	border-right: 1px solid rgba(0,0,0,0);
}
table.dataTable-sm thead th.first-child,
table.dataTable-sm thead td.first-child,
table.dataTable-sm thead th:first-child,
table.dataTable-sm thead td:first-child  {
	border-radius:5px 0 0 0  !important;
}

table.dataTable-sm thead th.no-radius,
table.dataTable-sm thead td.no-radius{
	border-radius:0  !important;
}

table.dataTable-sm tbody th,
table.dataTable-sm tbody td {
	padding: 10px;
	background:#ffffff;
}
table.dataTable-sm,
table.dataTable-sm th,
table.dataTable-sm td {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}


/** Setup **/

.notify-content {
  padding: 8px;
  text-align: center;
  background: #EAF5E1;
  border: 1px solid #C9E0BA;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1);	
}
.notify-content p { margin:0}

/** footer **/

.status-online {
	background: -moz-linear-gradient( 90deg, rgb(74,126,36) 0%, rgb(105,182,49) 33%, rgb(132,227,62) 82%, rgb(168,255,104) 98%);
	background: -webkit-linear-gradient( 90deg, rgb(74,126,36) 0%, rgb(105,182,49) 33%, rgb(132,227,62) 82%, rgb(168,255,104) 98%);
	background: -ms-linear-gradient( 90deg, rgb(74,126,36) 0%, rgb(105,182,49) 33%, rgb(132,227,62) 82%, rgb(168,255,104) 98%);
	width:10px;
	height:10px;
	border-radius:50%;
	margin-right:5px;
	display:inline-block;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(56,87,21,1.00);
}



.footer-status p{
	line-height: 30px;
	margin-right: 20px;
}





@media(max-width : 1280px){ 
#content, .page-container{
	padding-bottom:20px;	
}
.page-header.navbar .hor-menu .navbar-nav > li > a{
	padding: 7px 12px;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown {
	height:46px;	
}
.page-header.navbar{
	height:35px;
	min-height:35px;
}
.maximum .margin-top-30{
	margin-top:5px;	
}
#block-left, #block-right {
	margin-top:5px;
	margin-bottom:5px;
	height:550px; !important
}

.setHeight {
	height:300px; !important
}

#footer {

}

.buttons {
	bottom: 9px;
}
.commands{
	padding:0px 10px;	
}
.show-amount{
	padding: 3px 8px;
}
.receipt-text {
	padding: 9px 0;
}

.page-header.navbar .page-logo {
	float: left;
  display: block;
  width: 140px;
  /* height: 9px; */
  padding-right: 20px;
}

.page-header.navbar .page-logo .logo-default {
	margin: 8px 0 0 0;
	width:100%;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle{
	padding: 6px 3px 8px 3px;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle:last-child{
	padding: 10px 3px 4px 3px;
}
.product-img{
	height:130px;
}

.product img{
	width: 100%;
	height: auto;
}
.added-null img {
	width:120px;	
}
#footer {
	/*margin-top: -69px;*/
	padding-top:0;
}
.page-footer {
	 height: 70px;
}

}



/** ipad media query **/



@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (-webkit-min-device-pixel-ratio: 1){ 
#content, .page-container{
	padding-bottom:20px;
	min-height: 661px;
	margin-top: -2px;
}
.container {
width: 1024px;
}
.page-header.navbar .page-logo {
	float: left;
  display: block;
  width: 120px;
  padding-right: 0;
}
.page-header.navbar .hor-menu .navbar-nav > li > a{
	padding: 7px 12px;
}
.page-header.navbar{
	height:35px;
	min-height:35px;
}
.maximum .margin-top-30{
	margin-top:5px;	
}
#block-left, #block-right {
	margin-top:5px;
	margin-bottom:5px;
	height:625px; !important
}
#block-right{
	padding: 10px;
}
.setHeight {
	height:374px; !important
}

#footer {
	margin-top: -22px;
}
.page-footer{
	height:60px;
	padding:0;	
}
.page-footer-inner img {
	width:110px;	
}
.buttons {
	bottom: 9px;
}
.commands{
	padding:2px 10px;	
}
.show-amount{
	padding: 3px 8px;
}
.receipt-text {
	padding: 9px 0;
}
.slimScrollDiv {
	height: 374px;
}
.page-header.navbar .page-logo .logo-default {
	margin: 8px 0 0 0;
	width:100%;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle{
	padding: 6px 3px 8px 3px;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle:last-child{
	padding: 10px 3px 4px 3px;
}
.product-img{
	height:142px;
}

.product img{
	width: 100%;
	height: auto;
}
.product-info{
	height:79px;	
}
.product-name {
	font-size:12px;
}
.product-name p {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width:100px;
	margin: 0;
}
.mini, .maxi {
	display: none;
}

}

.full-count {
	background: #F5F5F5;
	padding: 6px;
	margin-bottom: 16px;
	border-radius: 5px;
}

.product-search-container {
	background: #F5F5F5;
	padding: 6px;
	margin-bottom: 16px;
	border-radius: 5px;
}

.filter-selection {
    padding: 5px 20px;
    margin-bottom: 20px;
}

.filter-product-results {
    font-family: "graphik-regular","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    float: right;
    margin: 0 0 0 20px;
    text-transform: uppercase;
    line-height: 42px;
    color: #adadad;
}

.filter-tag-group {
    display: inline-block;
    background-color: #eaf2f9;
    border: 1px solid #dce5ed;
    margin: 5px 5px 0 0;
    padding-left: 10px;
    color: #7ca5c1;
    border-radius: 2px;
    font-size: 15px;
}

.filter-tag-group .filter-tag-group-title {
    color: #b5b5b5;
}

.filter-tag-group .filter-tag-items {
    display: inline-block;
}

.filter-tag-group .filter-tag-item {
    border-left: 1px solid #dce5ed;
    color: #414141;
    display: inline-block;
    padding: 6px 25px 6px 8px;
    position: relative;
}

.filter-tag-group .filter-tag-item:first-child {
    border: none;
    padding-left: 0;
}

.filter-tag-group .filter-tag-item-remove {
    border: none;
    background: none;
    color: #008ae8;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 5px 8px 0 7px;
    outline: none;
}

.summary-container {
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
	margin: 0;
    background: #ebebeb;
    padding: 0 75px;
}

.summary-item {
    display: inline-block;
    text-decoration: none;
    padding: 20px 8px;
    margin-right: 50px;
    font-size: 16px;
    font-family: 'graphik-regular', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    color: #959595;
    cursor: pointer;
}

.summary-item:hover, .summary-item.active {
    border-bottom: 4px solid #ffc12c;
    color: #414141;
    text-decoration: none;
}

.stocktake-landing-list {
    background-color: #ebebeb;
    padding: 25px 75px;
}

.stocktake-landing-list .footer {
    width: 100%;
    margin-top: 40px;
    padding: 20px 0;
    background-color: transparent;
    text-align: center;
    font-size: 14px;
    color: #7e7e7e;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  { /* STYLES GO HERE */}



@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) 
and (-webkit-min-device-pixel-ratio: 1) { /* STYLES GO HERE */ }

